**__pycache__**
ckpts/
data/

work_dirs/
vis/
workspace
results/
VISTA/
docker/

.dist_test/
gt_annotation/
id_container
*.pth
*.pt
*.safetensors
*.tar.zst

.vscode
*.ignore
*.onnx
*.engine
*.nsys-rep
*.tmp
*.log
*.pyc

*.pkl
